<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <h1><%= title%></h1>
        <% for (let i = 0; i < 10; i++) { %>
            <div><%= i%>行目</div>
        <% } %>
    </body>
</html>